/* POPPINS FONT */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans serif;
}
body{
    background-image: url("safety.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.box{
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
.top-header{
    text-align: center;
}
span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: #ffffff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
#login-box{
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(169, 178, 182, 0.863);
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    padding-bottom: 20px;
}
.input-field{
    display: flex;
    flex-direction: column;
}
.input-field .form-control{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #000000;
    padding: 0 0 0 42px;
    background: rgba(80, 79, 79, 0.363);
}
i{
    position: relative;
    top: -31px;
    left: 17px;
    color: #fff;
}

#login-box input::placeholder {
    color: #fff;
  }

b{
    position: relative;
    top: -31px;
    left: -135px;
    color: #fff;
}

::-webkit-input-placeholder{
    color: #fff;
}
.btn-primary{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(138, 15, 15, 0.7);
    cursor: pointer;
    transition: .3s;
}
.btn-primary:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
}
.left{
    display: flex;
}
label a{
    color: #fff;
    text-decoration: none;
}