<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/about_us.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/footer2.css">
	<title>About Us</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" id="home" href="/">Home</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
        </div>
    </div>
	</nav>
	
<br><br>

    <div class="container">
        <div class="header">
            <h1>About Us</h1>
        </div>
        <div class="sub-container">
            <div class="teams">
                <img src="/static/afif.jpg" alt="">
                <div class="name">Ahmad Afif Daniel</div>
                <div class="desig">Developer (YOLOv5)</div>
                <div class="about">Bachelor of Computer Science (Hons.) Software Engineering </div>

                <div class="social-links">
                    <a href="https://www.facebook.com/afif.d.khairuddin/"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/afifdaniel_1234/"><i class="fa fa-instagram"></i></a>
					<a href="https://www.linkedin.com/in/afifdanielk/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/afifdanielk"><i class="fa fa-github"></i></a>
                </div>
            </div>

			<div class="teams">
                <img src="/static/noorshahida.jpg" alt="">
                <div class="name">Ts. Dr. Wan Noorshahida Binti Mohd Isa</div>
                <div class="desig">Supervisor</div>
                <div class="about">Assistant Professor </div>

                <div class="social-links">
					<a href="linkedin.com/in/wan-noorshahida-mohd-isa-44b2a141"><i class="fa fa-linkedin"></i></a>					
                </div>
            </div>

            <div class="teams">
                <img src="/static/azizi.jpg" alt="">
                <div class="name">Habri Azizi</div>
                <div class="desig">Developer (SSDMobileNetV2)</div>
                <div class="about">Bachelor of Computer Science (Hons.) Software Engineering </div>

                <div class="social-links">
                    <a href="https://www.facebook.com/habri.azizi"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/habzizi/"><i class="fa fa-instagram"></i></a>
					<a href="https://www.linkedin.com/in/habri-azizi-harris-0383b6239/"><i class="fa fa-linkedin"></i></a>					
                    <a href="https://github.com/habzizi"><i class="fa fa-github"></i></a>
                </div>
            </div>

        </div>
    </div>
</body>
<footer>
		<div class="footer-content">
		<h3>Conditional Analysis of Traffic Signs</h3>
            <ul class="socials">
                <li><a href="/">Home</a></li>
				<li><a href="/about_us">About Us</a></li>
				<li><a href="/faq">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <ul class="socials">
                <li><a href="https://www.instagram.com/catsobjectdetection/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCdEZ6g3XrJ08EYZ0hF7K6aw"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.linkedin.com/in/habri-azizi-harris-0383b6239/"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <p>Habri Azizi bin Harris <span>1191302348</span></p>
        </div>
    </footer>
</html>