<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link rel="stylesheet" href="/static/footer2.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Yolov5 Object Detection</title>
</head>
<body class="text-center">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" id="home" href="/">Home</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
        </div>
    </div>
	</nav>
  <br/>
  <br/>
  <br/>
  <form action="" class="form-signin" method=post enctype=multipart/form-data>
    <img class="mb-4" src="/static/cats.png" alt="" width="300">
    <h1 class="h3 mb-3 font-weight-normal">Upload any file<br>(Image or Video)</h1>
    <input type=file name=file class="form-control-file" id="inputfile">
    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
    <p class="mt-5 mb-3 text-muted">Traffic Sign Detection System - SSDMobileNetV2</p>
  </form>
</body>
<footer>
  <div class="footer-content">
  <h3>Conditional Analysis of Traffic Signs - SSDMobileNetV2</h3>
          <ul class="socials">
              <li><a href="/">Home</a></li>
      <li><a href="/about_us">About Us</a></li>
      <li><a href="/faq">FAQ</a></li>
          </ul>
      </div>
      <div class="footer-content">
          <ul class="socials">        
              <li><a href="https://www.instagram.com/catsobjectdetection/"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCdEZ6g3XrJ08EYZ0hF7K6aw"><i class="fa fa-youtube"></i></a></li>
              <li><a href="https://www.linkedin.com/in/habri-azizi-harris-0383b6239/"><i class="fa fa-linkedin-square"></i></a></li>
          </ul>
      </div>

      <div class="footer-bottom">
          <p>Habri Azizi bin Harris <span>1191302348</span></p>
      </div>
  </footer>
</html>

